/*--------------------------------------------------------------
Index Page Pre-Loader Styling
--------------------------------------------------------------*/

.no-js #loader { display: none;  }

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.pre-load {
  text-align: center;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: black;
}

.load-wrap {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.load-word {
  text-align: center;
  color: white;
  font-family: "gameplayed";
  position: relative;
  font-size: 24px;
  padding-bottom: 10px;
}

.dots:after {
  content: '.';
  animation: dots 3s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

#load-bar {
    width:200px;
    height:25px;
    border:solid 3px  white;
    padding: 5px;
    }

/* Animated Bar */
#load-bar > div {
    height:100%;
    background-color: white;
    animation-name: loading;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    }
/* Animation */
  @keyframes loading {
    from { width: 0; background-color: white; }
    /* 50% { background-color: white;} */
    to   { width: 100%; background-color: white; }
    }

/*--------------------------------------------------------------
TEXT BOUNCE EFFECT
--------------------------------------------------------------*/

.cd-intro-text{
  flex: 1;
  text-align: left;
}

.cd-intro-content {
  position: relative;
  margin: 80px 10%;
  /* padding: 30px 10%; */
  /* align-items: flex-start;
  display: flex;
  flex-direction: column; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* background-color: rgba(10, 10, 32, 0.801); */
  /* border-radius: 20px; */
}

@media (max-width: 640px) {
    .cd-intro-content {
        margin: 10px 6%;
    }
}

@media (max-width: 768px) {

  .cd-intro-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .cd-sprite {
    margin: 0;
  }

}

.cd-sprite {
  width: 180px;
  height: 180px;
  text-align: center;
  display: block;
  margin: 0 auto;
  flex-shrink: 0;
  filter: drop-shadow(0px 6px 8px rgba(0,0,0,0.4));
}


.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content h2 {
  animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content p {
  animation-duration: 0.6s;
}

.bouncy.cd-intro-content .cd-btn {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.5s;
}

.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

/* BACKGROUND */
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

.some-class::after {
  top: 0;
  left: 6px;
  color: blue;
  animation: move 1.5s infinite;
}

.some-class::before {
  top: -2.4px;
  left: 3.6px;
  color: limegreen;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: blue;
  mix-blend-mode: screen;
  filter: blur(1px);
}

.line::after,
.line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  mix-blend-mode: screen;
}

.line::after {
  top: 2px;
  background: red;
}

.line::before {
  top: -2px;
  background: limegreen;
}

@keyframes skew {
  0% { transform: none; }
  30% { transform: none; }
  30.2% { transform: skewX(50deg); }
  30.4% { transform: skewX(-50deg); }
  31% { transform: none; }
}

@keyframes move {
  0% { transform: none; }
  30% { transform: none; }
  31% { transform: translateX(-6px); }
  33% { transform: none; }
  98% { transform: none; }
  100% { transform: translateX(6px); }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes lines {
  0% { opacity: 0.1; }
  50% { opacity: 1; }
}