/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

@font-face { font-family: "Neon 80s"; src: url('FONTS/neon-webfont.woff') format("woff"); }
@font-face { font-family: "Streamster"; src: url('FONTS/streamster-webfont.woff') format("woff"); }
@font-face { font-family: "SFAlienEncounters"; src: url('FONTS/sfalienencounters-webfont.woff') format("woff"); }
@font-face { font-family: "SFAlienEncounters-Italic"; src: url('FONTS/sfalienencounters-italic-webfont.woff') format("woff"); }
@font-face { font-family: "Lazer84"; src: url('FONTS/Lazer84.woff') format("woff"); }
@font-face { font-family: "gameplayed"; src: url('FONTS/gameplayed-vyl7-webfont.woff') format("woff"); }

body, button, input, select, textarea {
	color: #00fff385;
	font-family: "gameplayed", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	text-shadow: 0 0 6px #30b5a980;
	letter-spacing: 1.3px;
}

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 2em;
	line-height: 1.25;

}

h2 {
	font-size: 1.6em;
	line-height: 1.2;
}

h3 {
	font-size: 1.4em;
	line-height: 1.15;
}

h4 {
	font-size: 1.2em;
	line-height: 1;
}

a, a:hover {
	text-decoration: none;
}

a:hover {
	color: white;
}

.plus::before {
	content: "+ ";
	font-size: 16px;
	font-weight: bold;
	color: white;
	line-height: 27px;
	position: relative;
	top: 0;
	width: 27px;
}

.name {
	font-family: "Streamster";
}

.name2 {
	font-family: "SFAlienEncounters";
}

.slogan {
	font-family: "SFAlienEncounters-Italic";
}

.nav-menu {
	font-family: "SFAlienEncounters-Italic";
}

